<div class="tw-text-center tw-items-center tw-p-10 tw-m-10 tw-bg-gray-700 tw-rounded-3xl tw-text-white">
  <h1 class="tw-text-4xl tw-font-bold">Hi, I'm <span class="tw-text-blue-500">Luca</span></h1>
  <h2 class="tw-text-2xl tw-font-bold">I'm a Full Stack Mobile and Web Developer</h2>
  <p class="tw-text-lg tw-mt-4">I'm a passionate developer with a strong focus on mobile and web development. I'm always
    looking for new challenges and opportunities to grow and learn new things.</p>
  <p>Currently my <a [routerLink]="'/projects'" class="tw-text-blue-500 tw-font-bold tw-underline">projects</a> page
    only showcases my main tech stacks, but I will showcase my actual projects soon :)</p>
</div>
